* {
  padding: 0;
  margin: 0;
}

body {
  font-family: arial;
  background-color: black;
}

.table{
  color:white;
  font-family: arial;
  text-align: center;
  margin-top: 40px;
}

.table-center {
  display: grid;
  margin: 20px;

  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  justify-content: center;
}

.table-center-cell {
  background-color: goldenrod;
  border: 2px solid black;
  height: 40px;
  width: 25px;
  padding: 20px;
  border-radius: 25px;
  font-size: 14px;
  text-align: center;
}

.table-players {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  justify-content: center;
}

.table-players-cell {
  background-color: darkgoldenrod;
  border: 2px solid black;
  height: 70px;
  width: 50px;
  padding: 20px;
  font-size: 20px;
  border-radius: 25px;
  text-align: center;
}

#interactions{
  text-align: center;
}

button {
  background-color: green;
  border-radius: 25px;
  width: 40%;
  height: 60px;
  margin: 10px;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 20px;
}

button:hover {
  opacity: 0.8;
}


.chat {


  /* position: fixed;
  left: 0;
  bottom: 50;
  width:100%;

  overflow:scroll;
  font-size: 18px; */
}

.example::-webkit-scrollbar {
    display: none;
}

.chat-box {
  border-top: 6px solid goldenrod;
  background-color: lightgrey;
  margin-top: 10px;
  overflow:scroll;
  font-size: 18px;

  position: fixed;
  bottom: 50px;
  width: 100%;
  height: 200px;
}

.chat-input {
  position: fixed;
  bottom: 0;
  width: 100%;
  height:50px;
  font-size: 100%;
}

.chat-message {
  margin: 5px 10px 10px;
}
