* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  text-align: center;
  font-size: 26px;
  font-family: fantasy;
  color: white;
}

.img-title {
  display: block;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 90%;
}

.form-field {
  margin: 20px;
}

.form-input {
  margin: 10px;
  width: 70%;
  height: 60px;
  border-radius: 25px;
  text-align: center;
  font-size: 20px;
}

input[type="text"]::placeholder {
  text-align: center;
  font-size: 16px;
}

.button-join {
  background-color: green;
  border-radius: 25px;
  width: 40%;
  height: 60px;
  margin: 10px;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 20px;
}

button:hover {
  opacity: 0.8;
}
